

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<center>
<div style="margin-top: 50px;">
<header>
    <h1>Library Management System</h1>
</header>
</div>
<body>

<div class="shadow p-3 mb-5 bg-body rounded" style="margin-top: 100px;">
    <form method="POST">
        <br>
       <h2> ADD NEW BOOK !!!</h2>
        <br><br>
        
        
        <label for="book_id">Book Id:</label><br>
        <input type="text" id="book_id" name="book_id" style="width:250px;height:50px;"><br>
        <label for="book_title">Book Title:</label><br>
        <input type="text" id="book_title" name="book_title"  style="width:250px;height:50px;"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"  style="width:250px;height:50px;"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre"  style="width:250px;height:50px;"><br>

    </form>
</div>
</body>
</center> 

</html>


