<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
</head>
<center>
<div style="margin-top: 50px;">
<header>
    <h1>Library Management System</h1>
</header>
</div>
<body>

<div class="shadow p-3 mb-5 bg-body rounded" style="margin-top: 100px;">
    <form method="POST">
        <br>
       <h2> ADD NEW MEMBER !!!</h2>
        <br><br>
        
        
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" style="width:250px;height:50px;"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"  style="width:250px;height:50px;"><br>
        <label for="id">Member Id:</label><br>
        <input type="text" id="id" name="id"  style="width:250px;height:50px;"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"  style="width:250px;height:50px;"><br>

    </form>
</div>
</body>
</center> 

</html>
